{% extends "base.html" %}
{% block title %} Записи сообщества {{ group.title }} {% endblock %}
{% block header %}Последние обновления на сайте{% endblock %}
{% block content %}

    <h1>{{ group.title }}</h1>
    <p>{{ group.description }}</p>

    {% for post in page %}
        <p>Автор: {{ post.author.get_full_name }}, дата публикации: {{ post.pub_date|date:"d M Y" }}</p>
        <p>{{ post.text|linebreaksbr }}</p>
        <hr>
    {% endfor %}

    {% include "paginator.html" %}

{% endblock %}
